version: '3.4'

services:
  catalogdb:
    image: postgres
  basketdb:
    image: postgres
  catalogapi:
    image: ${DOCKER_REGISTRY-}catalogapi
    build:
      context: .
      dockerfile: Services/CatalogApi/Dockerfile
  distributedcache:
    image: redis:7.4-alpine
  basketapi:
    image: ${DOCKER_REGISTRY-}basketapi
    build:
      context: .
      dockerfile: Services/Basket/BasketApi/Dockerfile

volumes:
  postgres_catalog:
  postgres_basket:
  # cache:



