version: '3.4'

services:
  catalogdb:
    image: postgres
  catalogapi:
    image: ${DOCKER_REGISTRY-}catalogapi
    build:
      context: .
      dockerfile: Services/CatalogApi/Dockerfile

volumes:
  postgres_catalog:


